<hr class="assassinsMultiview">
<div class="col-12 assassinsMultiview">
  <div class="row between align-center">
    <div class="col-2">
      <figure>
        <a href="assassins/<%= assassin.assassin_id %>">
        <img src="/static/images/killbase-assassins.png" alt="Profile photo, <%= assassin.name %>" height="200" width="200">
        <figcaption><%= assassin.name %></figcaption>
        </a>
      </figure>
    </div>
    <div class="col-7">
      <h4 class="normal"><%= assassin.name %></h4>
      <table>
        <tr>
          <td>Rating:</td>
          <td><%= assassin.rating %></td>
          <td>Kills:</td>
          <td><%= assassin.kills %></td>
        </tr>
        <tr>
          <td>Price:</td>
          <td><%= assassin.price %></td>
          <td>Age:</td>
          <td><%= assassin.age %></td>
        </tr>
        <tr>
          <td>Weapons:</td>
          <td><%= assassin.weapon_name %></td>
          <td>Contact:</td>
          <td><%= assassin.contact_info %></td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <button class="button secondary round small edit" id="e<%= assassin.assassin_id %>">Edit</button>
      <p> </p>
      <button class="button secondary round small delete" id="d<%= assassin.assassin_id %>">Delete</button>
    </div>
  </div>
</div>
