<hr class="contractsMultiview">
<div class="col-12 contractsMultiview">
  <div class="row between align-center">
    <div class="col-2">
      <figure>
        <a href="contracts/<%= contract.contract_set_id %>">
        <img src="<%= contract.photo_url %>" alt="Photograph of <%= contract.target_name %>" height="200" width="200">
        <figcaption><%= contract.name %></figcaption>
        </a>
      </figure>
    </div>
    <div class="col-7">
      <h4 class="normal"><%= contract.name %></h4>
      <table>
        <tr>
          <td>Client:</td>
          <td><%= contract.client_name %></td>
          <td>Budget:</td>
          <td><%= contract.budget %></td>
        </tr>
        <tr>
          <td>Target Location:</td>
          <td><%= contract.location %></td>
          <td>Security Level:</td>
          <td><%= contract.security_level %></td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <a href="/contracts/edit/<%= contract.contract_set_id %>">
        <button class="button secondary round small edit" id="e<%= contract.contract_set_id %>">Edit</button>
      </a>
      <p> </p>
      <button class="button secondary round small delete" id="d<%= contract.contract_set_id %>">Delete</button>
      <p> </p>
      <button class="button secondary round small markComplete" id="c<%= contract.contract_set_id %>">Complete</button>
<% // Below is the select for marking assassins completing contract. %>
      <form class="form hide" method="" id="complete<%= contract.contract_set_id %>">
        <label>Completed by:</label>
        <select name="assassinToAssign" id="completedBy<%= contract.contract_set_id %>">
            <% let assassinCheckArr0 = []; %>
            <% contract.totalAssassins.forEach((assassin) => { %>
            <% if (!assassinCheckArr0.includes(assassin.id)) { %>
            <%   if (assassin.name) {  %>
                <option value="<%= assassin.id %>" id="a<%= assassin.id %>"><%= assassin.name %></option>
            <%   } else { %>
              <option value="<%= assassin.id %>" id="a<%= assassin.id %>"><%= assassin.code_name %></option>
            <%   } %>
            <% assassinCheckArr0.push(assassin.id); %>
            <% } %>
            <% }) %>
        </select>
        <button type="submit" class="button secondary outline round small" name="contractAssigned" value="<%= contract.contract_set_id %>" id="confirmComplete<%= contract.contract_set_id %>">Confirm Complete</button>
      </form>
    </div>
  </div>
</div>
