<!DOCTYPE html>
<html>
  <head>
    <title>KILLBASE - <%= contract.name %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row gutters align-center">
        <div class="col-8 align-center">
          <div>
            <form class="form" action="/contracts/search" method="get">
                <div class="form-item">
                    <div class="append w60 w100-sm">
                      <input type="text secondary" class="small" id="seach" name="nameSearch">
                      <button class="button small secondary outline"><i class="kube-search"></i></button>
                      <select class="small w30" name="typeSearch" id="searchOptions">
                          <option>Target</option>
                          <option>Client</option>
                      </select>
                    </div>
                </div>
            </form>
            <h2 class="normal"><%= contract.name %></h2>
          </div>
        </div>
      </div>
      <div class="row gutters align-center">
        <div class="col-2">
          <figure>
            <a href="/contracts/<%= contract.contract_set_id %>">
            <img src="<%= contract.photo_url %>" alt="Profile photo, <%= contract.name %>" height="200" width="200">
            <figcaption><%= contract.name %></figcaption>
            </a>
          </figure>
        </div>
        <div class="col-4 offset-1">
          <table>
            <tr>
              <td>Client:</td>
              <td><%= contract.client_name %></td>
            </tr>
            <tr>
              <td>Budget:</td>
              <td><%= contract.budget %></td>
            </tr>
            <tr>
              <td>Target Location:</td>
              <td><%= contract.location %></td>
            </tr>
            <tr>
              <td>Security Level:</td>
              <td><%= contract.security_level %></td>
            </tr>
          </table>
        </div>
        <div class="col-2 offset-1">
          <button class="button secondary round small" id="edit<%= contract.contract_set_id %>">Edit</button>
          <p> </p>
          <button class="button secondary round small" id="delete<%= contract.contract_set_id %>">Delete</button>
          <p> </p>
          <button class="button secondary round small" id="delete<%= contract.contract_set_id %>">Complete</button>
          <p> </p>
          <form method="post" action="/contracts/assign" class="form">
            <div class="form-item">
              <select>
                  <% let assassinCheckArr = []; %>
                  <% contract.totalAssassins.forEach((assassin) => { %>
                  <% if (!assassinCheckArr.includes(assassin.id)) { %>
                  <%   if (assassin.name) {  %>
                      <option value="<%= assassin.id %>"><%= assassin.name %></option>
                  <%   } else { %>
                    <option value="<%= assassin.id %>"><%= assassin.code_name %></option>
                  <%   } %>
                  <% assassinCheckArr.push(assassin.id); %>
                  <% } %>
                  <% }) %>
              </select>
              <button class="button secondary outline round small">Assign Assassin</button>
          </div>
          </form>
        </div>

        <div class="col-10 push-center contractsMultiview">

          <h3>Contracted Assassins</h3>
          <% let previousAssassins = []; %>
          <% contract.assassins.forEach((assassin) => { %>
            <% if (!previousAssassins.includes(assassin.id)) { %>
            <% previousAssassins.push(assassin.id); %>
            <% include ./partials/assassinsmini.ejs %>
            <% } %>
          <% }); %>
          <% if (contract.assassins.length === 0) { %>
            <p>None</p>
          <% } %>
        </div>


    </main>

    <% include ./partials/footer.ejs %>
  </body>
</html>
