<!DOCTYPE html>
<html>
  <head>
    <title>KILLBASE - <%= contract.name %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row gutters align-center">
        <div class="col-10">
          <% include ./partials/searchBar.ejs %>
        </div>
      </div>
      <div class="row gutters align-center">
        <div class="col-10">
          <h2 class="normal"><%= contract.name %></h2>
        </div>
      </div>
      <div class="row gutters align-center">
        <div class="col-2">
          <figure>
            <a href="/contracts/<%= contract.contract_set_id %>">
            <img src="<%= contract.photo_url %>" alt="Profile photo, <%= contract.name %>" height="200" width="200">
            <figcaption><%= contract.name %></figcaption>
            </a>
          </figure>
        </div>
        <div class="col-4 offset-1">
          <table>
            <tr>
              <td>Client:</td>
              <td><%= contract.client_name %></td>
            </tr>
            <tr>
              <td>Budget:</td>
              <td><%= contract.budget %></td>
            </tr>
            <tr>
              <td>Target Location:</td>
              <td><%= contract.location %></td>
            </tr>
            <tr>
              <td>Security Level:</td>
              <td><%= contract.security_level %></td>
            </tr>
          </table>
        </div>
        <div class="col-2 offset-1">
  <% if (contract.completed) { %>
            <button class="button secondary round small disabled editSolo" id="e<%= contract.contract_set_id %>">Edit</button>
  <% } else { %>
            <a href="/contracts/edit/<%= contract.contract_set_id %>">
              <button class="button secondary round small editSolo" id="e<%= contract.contract_set_id %>">Edit</button>
            </a>
  <% } %>
          <p> </p>
  <% if (contract.completed) { %>
            <button class="button secondary round small disabled" id="d<%= contract.contract_set_id %>">Delete</button>
            <p> </p>

            <% // This code finds the name of the completing assassin. %>
            <% let completingAssassin = "none"; %>
            <% contract.totalAssassins.forEach((assassin) => { %>
            <%   if ((contract.completed_by === assassin.id) && assassin.name) {  %>
            <%     completingAssassin = assassin.name; %>
            <%   } else if (contract.completed_by === assassin.id) { %>
            <%     completingAssassin = assassin.code_name; %>
            <%   } %>
            <% }); %>



            <button class="button secondary round outline small disabled" id="c<%= contract.contract_set_id %>">Completed by <br><%= completingAssassin %></button>
  <% } else { %>
            <button class="button secondary round small deleteSolo" id="d<%= contract.contract_set_id %>">Delete</button>
            <p> </p>
            <button class="button secondary round small markCompleteSolo" id="c<%= contract.contract_set_id %>">Complete</button>
  <% // Below is the select for marking assassins completing contract. %>
          <form class="form hide" method="" id="complete<%= contract.contract_set_id %>">
            <label>Completed by:</label>
            <select name="assassinToAssign" id="completedBy<%= contract.contract_set_id %>">
                <% let assassinCheckArr0 = []; %>
                <% contract.totalAssassins.forEach((assassin) => { %>
                <% if (!assassinCheckArr0.includes(assassin.id)) { %>
                <%   if (assassin.name) {  %>
                    <option value="<%= assassin.id %>" id="a<%= assassin.id %>"><%= assassin.name %></option>
                <%   } else { %>
                  <option value="<%= assassin.id %>" id="a<%= assassin.id %>"><%= assassin.code_name %></option>
                <%   } %>
                <% assassinCheckArr0.push(assassin.id); %>
                <% } %>
                <% }) %>
            </select>
            <button type="submit" class="button secondary outline small" name="contractAssigned" value="<%= contract.contract_set_id %>" id="confirmComplete<%= contract.contract_set_id %>">Confirm Complete</button>
          </form>
  <% // Below is the select for assigning assassins. %>
          <p> </p>
          <form class="form" method="">
            <label>Assign Assassin:</label>
            <select name="assassinToAssign" id="assassinToAssign">
                <% let assassinCheckArr = []; %>
                <% contract.totalAssassins.forEach((assassin) => { %>
                <% if (!assassinCheckArr.includes(assassin.id)) { %>
                <%   if (assassin.name) {  %>
                    <option value="<%= assassin.id %>" id="selectValue<%= assassin.id %>"><%= assassin.name %></option>
                <%   } else { %>
                  <option value="<%= assassin.id %>" id="selectValue<%= assassin.id %>"><%= assassin.code_name %></option>
                <%   } %>
                <% assassinCheckArr.push(assassin.id); %>
                <% } %>
                <% }) %>
            </select>
            <button type="submit" class="button secondary outline small" name="contractAssigned" value="<%= contract.contract_set_id %>" id="assignAssassin">Assign</button>
  <% } // This is the end of the else statement where assignment is complete %>
          </form>
        </div>

        <div class="col-10 push-center contractsMultiview">

          <h3>Contracted Assassins</h3>
          <% let previousAssassins = []; %>
          <% contract.assassins.forEach((assassin) => { %>
            <% if (!previousAssassins.includes(assassin.id)) { %>
            <% previousAssassins.push(assassin.id); %>
            <% include ./partials/assassinsmini.ejs %>
            <% } %>
          <% }); %>
          <% if (contract.assassins.length === 0) { %>
            <p>None</p>
          <% } %>
        </div>


    </main>

    <% include ./partials/footer.ejs %>
  </body>
</html>
