<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title>KILLBASE - Update Contract</title>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row align-center">
        <div class="col-10 align-center">
          <% include ./partials/searchBar.ejs %>
          <h2 class="normal">Update Contract</h2>
        </div>
      </div>
      <form class="form">
        <div class="row gutters align-center">
          <div class="col-7 form-item">
            <label>Target Name <span class="req">*</span></label>
            <input type="text" name="targetName" class="w90" id="targetName" value="<%= contract.name %>">
          </div>
          <div class="col-3 form-item">
            <label>Security Level <span class="req">*</span></label>
            <input type="evel" name="secLevel" class="w30" id="secLevel" value="<%= contract.security_level %>">
          </div>
        </div>
        <div class="row gutters align-center">
          <div class="col-7 form-item">
            <label>Target Location <span class="req">*</span></label>
            <input type="text" class="w90" name="location" id="location" value="<%= contract.location %>">
          </div>
          <div class="col-3 form-item">
            <label>Budget <span class="req">*</span></label>
            <input type="number" name="budget" class="w30" id="budget" value="<%= contract.budget %>">
          </div>
        </div>
        <div class="row gutters align-center">
          <div class="col-7 form-item">
            <label>Target Image URL <span class="req">*</span></label>
            <input type="url" name="photo_url" class="w90" id="photo_url" value="<%= contract.photo_url %>">
          </div>
          <div class="col-3">
          </div>
        </div>
        <div class="row gutters align-center">
          <div class="col-7 form-item">
            <label>Client <span class="req">*</span></label>
            <select name="client" class="w90" id="client">
              <option value="<%= contract.client_name %>"><%= contract.client_name %></option>
              <% contract.clients.forEach((client) => { %>
              <option value="<%= client %>"><%= client %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-3 push-bottom">
            <button class="button round secondary align-center large" role="button" value="<%= contract.contract_set_id %>" id="updateTheContract">Update Contract</button>
          </div>
        </div>
      </form>
    </main>

    <% include ./partials/footer.ejs %>
  </body>

</html>
